/* -----------------------------------------------------------
pink.css (v5.0)
-------------------------------------------------------------- */

/* html
-------------------------------------------------------------- */

a {
	color: #c91ca6;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #b0008c;
	text-decoration: underline;
}

/* buttons
-------------------------------------------------------------- */

.button:hover,
.button:focus,
.button:active {
    border-color: #b0008c;
    border-bottom-color: #8d0071;
    text-decoration: none; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    color: #fff; 
    background-color: #b0008c;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c91ca6), to(#b0008c));
    background-image: -moz-linear-gradient(#c91ca6, #b0008c);
    background-image: -o-linear-gradient(#c91ca6, #b0008c);
    background-image: linear-gradient(#c91ca6, #b0008c);
}

.button:active,
.button.active {
    border-color: #8d0071;
    border-bottom-color: #b0008c;
    color: #fff; 
    background-color: #c91ca6;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b0008c), to(#c91ca6));
    background-image: -moz-linear-gradient(#b0008c, #c91ca6);
    background-image: -o-linear-gradient(#b0008c, #c91ca6);
    background-image: linear-gradient(#b0008c, #c91ca6);
}

.button.color {
	border-color: #b0008c;
    border-bottom-color: #8d0071;
    text-decoration: none; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    color: #fff; 
    background-color: #b0008c;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c91ca6), to(#b0008c));
    background-image: -moz-linear-gradient(#c91ca6, #b0008c);
    background-image: -o-linear-gradient(#c91ca6, #b0008c);
    background-image: linear-gradient(#c91ca6, #b0008c);
}

.button.color:hover,
.button.color:focus,
.button.color:active {
    border-color: #8d0071;
    border-bottom-color: #8d0071;
    text-decoration: none; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    color: #fff; 
    background-color: #8d0071;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c91ca6), to(#8d0071));
    background-image: -moz-linear-gradient(#c91ca6, #8d0071);
    background-image: -o-linear-gradient(#c91ca6, #8d0071);
    background-image: linear-gradient(#c91ca6, #8d0071);
}

.button.color:active,
.button.color.active {
    border-color: #8d0071;
    border-bottom-color: #8d0071;
    color: #fff; 
    background-color: #c91ca6;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8d0071), to(#c91ca6));
    background-image: -moz-linear-gradient(#8d0071, #c91ca6);
    background-image: -o-linear-gradient(#8d0071, #c91ca6);
    background-image: linear-gradient(#8d0071, #c91ca6);
}

.button-group.minor-group .button:hover,
.button-group.minor-group .button:focus,
.button-group.minor-group .button:active {
    background-color: #c91ca6;
}

.button-group.minor-group .button:active,
.button-group.minor-group .button.active {
    background-color: #b0008c;
}

/* edit save button */

#save_button {
	border-color: #b0008c;
    border-bottom-color: #8d0071;
    text-decoration: none; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    color: #fff; 
    background-color: #b0008c;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c91ca6), to(#b0008c));
    background-image: -moz-linear-gradient(#c91ca6, #b0008c);
    background-image: -o-linear-gradient(#c91ca6, #b0008c);
    background-image: linear-gradient(#c91ca6, #b0008c);
}

#save_button:hover,
#save_button:focus,
#save_button:active {
    border-color: #8d0071;
    border-bottom-color: #8d0071;
    text-decoration: none; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    color: #fff; 
    background-color: #8d0071;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c91ca6), to(#8d0071));
    background-image: -moz-linear-gradient(#c91ca6, #8d0071);
    background-image: -o-linear-gradient(#c91ca6, #8d0071);
    background-image: linear-gradient(#c91ca6, #8d0071);
}

#save_button:active,
#save_button.active {
    border-color: #8d0071;
    border-bottom-color: #8d0071;
    color: #fff; 
    background-color: #c91ca6;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8d0071), to(#c91ca6));
    background-image: -moz-linear-gradient(#8d0071, #c91ca6);
    background-image: -o-linear-gradient(#8d0071, #c91ca6);
    background-image: linear-gradient(#8d0071, #c91ca6);
}

#save_toggle {
	border-color: #8d0071;
}

/* toolbar
-------------------------------------------------------------- */

.badge.view_site:hover {
	background-color: #c91ca6;
	color: #fff;
	text-decoration: none;
}

/* main nav
-------------------------------------------------------------- */

#main_nav ul li a {
	background: #c91ca6;
	color: #fff;
}

#main_nav ul li a:hover,
#main_nav ul li a:focus {
	background: #b0008c;
	color: #fff;
}

#main_nav ul li a.current .badge.count {
	background: #fff;
	border: 1px solid #c91ca6;
	padding: 1px 3px;
	color: #c91ca6;
}

/* global form entry
-------------------------------------------------------------- */

.char_count {
	background: #c91ca6;
}

/* text */

.textarea_format ul li>a:hover {
	border-color: #b0008c;
    border-bottom-color: #8d0071;
    text-decoration: none; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    color: #fff; 
    background-color: #b0008c;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c91ca6), to(#b0008c));
    background-image: -moz-linear-gradient(#c91ca6, #b0008c);
    background-image: -o-linear-gradient(#c91ca6, #b0008c);
    background-image: linear-gradient(#c91ca6, #b0008c);
}

.textarea_format ul li>a:active {
	border-color: #8d0071;
    border-bottom-color: #b0008c;
    color: #fff; 
    background-color: #c91ca6;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b0008c), to(#c91ca6));
    background-image: -moz-linear-gradient(#b0008c, #c91ca6);
    background-image: -o-linear-gradient(#b0008c, #c91ca6);
    background-image: linear-gradient(#b0008c, #c91ca6);
}

/* tags */

.tags_list .tag:hover {
	background: #c91ca6;
	color: #fff;
}

/* rating */

.rating_system .rating_bar {
	position: absolute;
	top: 0px;
	left: 0px;
	display: inline-block;
	background-color: #c91ca6;
	width: 0px;
	height: 16px;
}

/* fancy edit */

.badge.edit_fancy {
	background-color: #c91ca6;
	color: #fff !important;
	text-decoration: none;
}

.badge.edit_fancy:hover {
	background-color: #b0008c;
}

/* modal windows
-------------------------------------------------------------- */

.modal_window_header {
	border-bottom: 1px solid #8d0071;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    color: #fff; 
    background-color: #b0008c;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c91ca6), to(#b0008c));
    background-image: -moz-linear-gradient(#c91ca6, #b0008c);
    background-image: -o-linear-gradient(#c91ca6, #b0008c);
    background-image: linear-gradient(#c91ca6, #b0008c);
}

/* pop up dialog windows
-------------------------------------------------------------- */

#dialog_header {
	border: 1px solid #8d0071;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    color: #fff; 
    background-color: #b0008c;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c91ca6), to(#b0008c));
    background-image: -moz-linear-gradient(#c91ca6, #b0008c);
    background-image: -o-linear-gradient(#c91ca6, #b0008c);
    background-image: linear-gradient(#c91ca6, #b0008c);
}

/* users layout
-------------------------------------------------------------- */

.badge.edit_user {
	background-color: #c91ca6;
	color: #fff !important;
	text-decoration: none;
}

.badge.edit_user:hover {
	background-color: #b0008c;
}

/* browse layout
-------------------------------------------------------------- */

#status_actions li>a:hover,
#toggle_view li>a:hover {
	border-color: #b0008c;
    border-bottom-color: #8d0071;
    text-decoration: none; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    color: #fff; 
    background-color: #b0008c;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c91ca6), to(#b0008c));
    background-image: -moz-linear-gradient(#c91ca6, #b0008c);
    background-image: -o-linear-gradient(#c91ca6, #b0008c);
    background-image: linear-gradient(#c91ca6, #b0008c);
}

#status_actions li>a:active,
#toggle_view li>a:active {
	border-color: #8d0071;
    border-bottom-color: #b0008c;
    color: #fff; 
    background-color: #c91ca6;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b0008c), to(#c91ca6));
    background-image: -moz-linear-gradient(#b0008c, #c91ca6);
    background-image: -o-linear-gradient(#b0008c, #c91ca6);
    background-image: linear-gradient(#b0008c, #c91ca6);
}

/* messages layout
-------------------------------------------------------------- */

.inbox_item.unread td {
	background: #f9e8f6 !important;
}